.rating-stars {
    display: flex;
    flex-direction: row;
    color: orange;
    margin-left: 1rem;
}
.rating-stars a:hover,
.rating-stars a:hover ~ a {
    color: lightgray; /* Change color on hover */
}
