@import "font-awsome";
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import "./bootstrap";
@import "main.scss";
@import "home";

