
.highly-ranked-books-section{
    h1{
        color: $warning;
    }
    & > .container > .row > .col-12 {
        .swiper{
            width: 100%;
            height: 700px;
            .swiper-button-next{
                right:35px;
            }
            .swiper-button-prev, .swiper-button-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                color: white;
                padding: 10px 15px;
                border: none;
                cursor: pointer;
            }
            .swiper-button-prev{
                left:23px
            }
            & > .swiper-wrapper > .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 3rem;
                padding-bottom: 3rem;
                .card{
                    width: 18rem;
                    .card-img-top {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .highly-ranked-books-section{
        & > .container > .row > .col-12 {
            & > .swiper > .swiper-wrapper > .swiper-slide {
                .card {
                    width: 39rem;
                    height: 100%;
                    .card-img-top{
                        height: 80%;
                    }
                    .card-footer{
                        a{
                            width: 8rem;
                        }
                        p{
                            font-size: 0.9em;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .highly-ranked-books-section{
        & > .container > .row > .col-12 {
            & > .swiper > .swiper-wrapper > .swiper-slide {
                .card {
                    width: 30rem;
                    height: 53rem;

                }
            }
        }
    }
}

@media (max-width: 575.9px) {

    .highly-ranked-books-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem 1rem;
        background-color:#f8f9fa;
        & > .container > .row > .col-12 {
            .swiper {
                height: 747px;
                padding-left: 2rem;
                padding-right: 2rem;
                .swiper-wrapper {
                    .swiper-slide {
                        background-color: transparent;
                        .card{
                            width: 100%;
                            height: 56rem;
                            border-radius: 10px;
                            .card-img-top{
                                height: 500px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }
                            .card-body {
                                .card-title {

                                }
                            }
                        }
                    }
                }
                .swiper-button-next{
                    right:35px;
                }
                .swiper-button-prev{
                    left:35px
                }
            }

        }
    }
}
@media (max-width: 400px) {
    .highly-ranked-books-section {
        & > .container > .row > .col-12 {
            .swiper {
                height: 57rem;
                .swiper-wrapper{
                    .swiper-slide{
                        .card{
                            height: 52rem;
                            .card-img-top{
                                height: 35rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.rating .star {
    color: $warning;
    font-size: 24px;
    cursor: pointer;
}

.rating .star:hover,
.rating .star:hover ~ .star {
    color: gold;
}
