.forget-password-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-left: 6rem;
    padding-right: 6rem;
}
