.body{
    padding: 0;
    margin: 0;
}
.login-content-section{
    min-height: 90vh;
}

@media (max-width: 576px) {
    .login-content-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-section{
        order: 1;
        width: 90%;
        margin-right: 1rem;
        margin-left: 1rem;
        text-align: center;
        margin-top: 1rem;
        form{
            button{
                margin-top: 1rem;
            }
        }
    }
    .photo-section{
        width: 100%;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
